/* Mobile version */
.header .logo img{
    width: 130px;
    height: 30px;   
}

.head-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-image img{
    width:290px;
}

.card-heading .topic{
    text-align: center;
}
.heading-discription p{
    text-align: center;
    Font-size: 14px;
    color: rgba(0, 0, 0, 0.568);
    font-weight: 400;
    font-family: 'Open Sans', sans-serif; 

}
.card-top{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}
.card-top img{
    width: 250px;
    height: 290px;
}
.tablet{
    display: none;
}

/* Tablet version */
@media screen and (min-width: 500px) { 
    .head-image img{
        width:400px;
    }  
    .graphic-two {
        float: left;
        height: 300px;
        width: 250px; 
    }
    .ready-to-build-card .topic{
        font-size: 10px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold ;
    }
    .ready-to-build-card .get-started-btn-holder button {   
        width: 300px;
    }    
    .ready-to-build-card{
        width: 431px ;
    }
}

/* Tablet version */
@media screen and (min-width: 767px) { 
    .head-image img{
        width:600px;
    }   
    .sub-title{
        font-size: 20px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 30px;
    } 
    .pink-bg{
        font-size: 19px;
    }
    .graphic-two {
        float: left;
        height: 300px;
        width: 400px; 
    }
   
    .footer{
        margin-top: 15rem;
    }
    .ready-to-build-card .topic{
        font-size: 12px;
    }
    .ready-to-build-card{
        width: 431px ;
    }
    .heading-discription p{
        font-size:16px;
    }
}

/* Laptop version */
@media screen and (min-width: 1024px) {
    .tablet{
        display: block;
    }
    .mob{
        display: none;
    }
    .head-image img{
        width:500px;
    }   
    .header-container{
        width: 100%;
        height: 100vh;
    }
    .ready-to-build-card .topic{
        font-size: 19px;     
    }
    .ready-to-build-card{
        width: 788px;
    }
    .footer-contents{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        padding:0px;
    }
    .copyright{
        text-align: right;
    }
   
    .social-links{
        display: flex;
        justify-content: right;
        color: white;
        padding: 0px;
    }
}
@media screen and (min-width: 1020px){
    .header-container{
        width: 100%;
        height: 100vh;
    }
}
@media screen and (min-width: 1100px){
    .header-container{
        width: 100%;
        height: 90vh;
    }
}
@media screen and (min-width: 1400px){
    .header-container{
        width: 100%;
        height: 75vh;
    }
}
@media screen and (min-width: 1800px){
    .header-container{
        width: 100%;
        height: 65vh;
    }
    .card .card-info .topic{
        font-size: 35px;
    }
    .card .card-info .card-details{
        font-size:19px;
    }
}
body{
    width: 100%;
    height: 100%;
    overflow-x:hidden;
}
/* Desktop version */